<h1><%= l(:menu_issues_summary_graph) %></h1>
<table>
<tr>
<td class="issues-summary status-selection">
<%= form_tag :action => 'show' do |f| %>
  <div><%= l(:message_is_closed_select_status) %></div>
  <div>
    <%= select_tag :closed_status_ids,
      options_for_select(IssueStatus.find(:all).collect {|status| [status.name, status.id]}, @closed_status_ids),
      :multiple => true, :name => 'closed_status_ids[]' %>
  </div>
  <div>
    <%= l(:field_start_date) %>:
    <%= text_field_tag :from, @from, :size => 10 %><%= calendar_for('from') %>
  </div>
  <div>
    <%= l(:description_date_to) %>:
    <%= text_field_tag :to, @to, :size => 10 %><%= calendar_for('to') %>
  </div>
  <div>
    <%= submit_tag l(:reload) %>
  </div>
<% end %>
</td>
<td id='graph_image'>
<%= image_tag(url_for(:controller => 'issues_summary_graph', :action => 'summary_graph', :project_id => @project.identifier, :closed_issue_statuses => @closed_status_ids, :from => @from, :to => @to, :format => 'png')) %>
</td>
</tr>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "application.css", :plugin => "redmine_issues_summary_graph", :media => "screen" %>
<% end %>
